

.image .computer {
    margin-left: 50%;
    transform: rotate(180deg);
}

.image .portal {
    transform: rotate(90deg);
    margin-top: 20%;
    margin-left: -8%;
    width: 30%;
}

.image img {
    position: fixed;
}

.crazy-words {
    color: rgb(41, 41, 41);
    font-size: 30px;
    transform: rotate(180deg);
}

.crazy-words a {
    color: rgb(15, 60, 6);
}

