.ramiro {
    display: flex;
    flex-wrap: wrap;
    border: green solid 5px;
    padding: 5px;
    background-image: url("https://media3.giphy.com/media/VeMfDj4KctWsUEfs1L/giphy.gif?cid=ecf05e47j42h75002a5x6fdm1nd2l0d8jmj6wjctz9otjuv1&rid=giphy.gif&ct=g");
    background-size: cover;
}
.interest {
    border: red dotted 2px;
    margin: 3px;
    color: turquoise;
    font-family: 'Sofia';font-size: 30px;
 }
 
 /* img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
  img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .btn {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 5;
    transition: 0.3s;
  }
  
  .btn:hover {opacity: .01}